<h2 mat-dialog-title> Edit Note </h2>
<mat-dialog-content>
  <form >
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput #titleInput [value]="data.title" (input)="onInputTitle(titleInput.value)" name="title">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput #descriptionInput [value]="data.description" (input)="onInputDescription(descriptionInput.value)" name="desc"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close> Cancel </button>
  <button mat-button [mat-dialog-close]=data> Edit </button>
</mat-dialog-actions>
