.container{
  max-width: 500px;
  background-color: bisque;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.list-item{
  cursor: pointer;
}

.list-item-active{
  background-color: rgba(0,0,0,0.10);
}

.add-button{
  align-self: center;
}

.row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

mat-list {
  max-height: 400px;
  overflow: auto;
}

mat-form-field{
  width: inherit;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}

