<div class="container">
  <div class="row-container">
    <mat-icon>search</mat-icon>
    <mat-form-field>
      <input matNativeControl autocomplete="off" [(ngModel)]="input">
    </mat-form-field>
  </div>
  <div class="row-container">
    <mat-icon>filter_list</mat-icon>
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select [(ngModel)]="select">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{filter.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-list>
    <mat-list-item
      *ngFor="let note of getFilteredArray()"
      (click)="onListItemClick(note)"
      class="list-item"
      [class.list-item-active]="note.id === activeNoteId"
      mat-ripple
    >
      <h3 mat-line>{{note.title}}</h3>
      <h3 mat-line>{{note.date}}</h3>
      <h4 mat-line>{{getDescriptionPreview(note)}}</h4>
    </mat-list-item>
  </mat-list>
  <button mat-icon-button class="add-button" (click)="onCreateButtonClick()">
    <mat-icon>add</mat-icon>
  </button>
</div>

