.container{
  max-width: 500px;
  background-color: bisque;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.list-item{
  cursor: pointer;
}

.list-item-active{
  background-color: rgba(0,0,0,0.10);
}

.add-button{
  align-self: center;
}
